@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #9adada;
}

.wrapper {
    width: 800px;
    background-color: white;
    border-radius: 15px;
    user-select: none;
}

.wrapper header {
    display: flex;
    align-items: center;
    padding: 25px 53px 10px;
    justify-content: space-between;
}

header .data-atual {
    font-size: 1.45em;
    font-weight: 500;
}

header .icones span {
    padding: 2px 14px;
    margin: 0 1px;
    cursor: pointer;
    color: #878787;
    font-size: 1.9rem;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
}

header .icones span:hover {
    background-color: #f2f2f2;
}

header .icones span:last-child {
    margin-right: -10px;
}

.calendario {
    padding: 20px;
}

.calendario ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
}

.calendario .dias {
    margin-bottom: 40px;
}

.calendario .dias li {
    margin-top: 50px;
    cursor: pointer;
    z-index: 1;
}

.dias li.inativo {
    color: #aaa;
}

.calendario .semana{
    font-weight: 500;
}

.calendario ul li {
    position: relative;
    width: calc(100% / 7);
}

.calendario .dias li::before{
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.dias li:hover::before {
    background-color: #f2f2f2;
}

.dias li.ativo:before {
    background-color: #9adada;
}