* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
  background-image: url(logo/sinopng.png);
  position: fixed;
  left: 10px;
  width: 150px;
  height: 46%;
  background-color: #106e6d;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  border-radius: 50px;
  z-index: 999;
  justify-content: center;
}

.sidebar-icon {
  width: 80px;
  height: 80px;
  margin: 0 0 30px;
  background-color: #12807e;
  border-radius: 15px;
}

.sidebar-icon:hover {
  background-color: #18a8a6;
  background-blend-mode: multiply;
  cursor:pointer
}