<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Ginecologista</title>
  <link rel="stylesheet" href="css/medicos.css">
  <link rel="stylesheet" href="css/sideBar.css">
</head>
<body>
  <div class="sidebar">
    <img src="logo/sinopng.png" alt="Sino" class="sidebar-icon">
    <a href="/meus-agendamentos"><img src="/logo/calendariopng.png" alt="Calendário" class="sidebar-icon"></a>
  </div> 
  
  <div class="container_pagina_inform">
    <div class="cabecalho_texto">
      <h1 class="pagina_inform_titulo">Ginecologistas</h1>
      <h3 class="pagina_inform_subtitulo">Selecione um médico para visualizar as datas disponíveis de consulta.</h3>
    </div>

    <div class="medicos_lista">
      <div class="card_medico">
        <img src="logo/samira.png" alt="Dra. Samira Hadid" class="foto_medico">
        <h4 class="nome_medico">DRA. SAMIRA HADID</h4>
        <p class="especialidade">Ginecologia</p>
        <p class="descricao_medico">Com mais de uma década de experiência, a Dra. Hadid é especialista em ginecologia geral e saúde da mulher.</p>
        <a href="#" class="botao_agendar">Ver agenda</a>
      </div>

      <div class="card_medico">
        <img src="logo/ayran.png" alt="Dr. Ayran Patel" class="foto_medico">
        <h4 class="nome_medico">DR. AYRAN PATEL</h4>
        <p class="especialidade">Ginecologia e Obstetria</p>
        <p class="descricao_medico">Como médico sênior, Dr. Patel é especializado em cirurgias ginecológicas e cuidados obstétricos.</p>
        <a href="#" class="botao_agendar">Ver agenda</a>
      </div>

      <div class="card_medico">
        <img src="logo/yugin.png" alt="Dra. Yugin Feng" class="foto_medico">
        <h4 class="nome_medico">DRA. YUGIN FENG</h4>
        <p class="especialidade">Ginecologia e Obstetria</p>
        <p class="descricao_medico">Dra. Feng tem mais de 15 anos de experiência como especialista em fertilidade e obstetria.</p>
        <a href="#" class="botao_agendar">Ver agenda</a>
      </div>
    </div>
  </div>
</body>
</html>
