<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Ginecologista</title>
    <link rel="stylesheet" href="css/styleInform.css">
    <link rel="stylesheet" href="css/sideBar.css">
</head>
<body>
    <div class="sidebar">
        <img src="logo/sinopng.png" alt="Sino" class="sidebar-icon">
        <a href="/meus-agendamentos"><img src="/logo/calendariopng.png" alt="Calendário" class="sidebar-icon"></a>
    </div> 
    <div class="container_pagina_inform">
        <h1 class="pagina_inform_titulo">Neurologistas</h1>
    </div>
</body>
</html>